@import "./common.scss";
body {
  text-transform: lowercase;
}

.category {
  margin-top: 25px;
  margin-bottom: 10px;
}

.posts {
  list-style: none;
  .post {
    margin-top: 16px;
    line-height: 14px;
    &-date {
      font-size: 12px;
      color: #585858;
    }
  }
}

.name {
  color: #253445;
  font-size: large;
  margin-bottom: 5px;
}

p {
  margin: 8px 0;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
